[user]
	# Update these with your information
	name = Alex Sieglinger
	email = sieglingerdata@gmail.com

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	pager = less -FRX

[init]
	defaultBranch = main

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = green
	changed = yellow
	untracked = red

[alias]
	# Shortcuts
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	
	# Pretty log
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	
	# Show branches
	branches = branch -a
	remotes = remote -v
	
	# Amend the last commit
	amend = commit --amend --reuse-message=HEAD
	
	# Show the diff of the last commit
	last = diff HEAD^
	
	# Find branches containing commit
	fb = "!f() { git branch -a --contains $1; }; f"
	
	# Find commits by commit message
	fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"
	
	# Remove branches that have already been merged with main
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	
	# Interactive rebase with the given number of latest commits
	reb = "!r() { git rebase -i HEAD~$1; }; r"

[push]
	default = current
	followTags = true

[pull]
	rebase = true

[fetch]
	prune = true

[diff]
	tool = nvimdiff

[difftool]
	prompt = false

[merge]
	tool = nvimdiff

[mergetool]
	prompt = false
	keepBackup = false

[mergetool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[credential]
	helper = osxkeychain

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true